@use 'sass:map';

$schemes: (
  dark: (
    'text': #dbe8ff,
    'background': #000714,
    'primary': #7ea3f1,
    'secondary': #93017b,
    'accent': #c60146,
    'gray': #1a202c,
  ),
  light: (
    'text': #000d24,
    'background': #ebf2ff,
    'primary': #0e3281,
    'secondary': #fe6ce6,
    'accent': #fe397e,
    'gray': #d3d9e5,
  ),
);

$scheme-map: null;
@mixin scheme() {
  @each $scheme, $map in $schemes {
    $scheme-map: $map !global;

    .#{$scheme} & {
      @content;
    }
  }
  $scheme-map: null !global;
}

@function get($key) {
  @return map.get($scheme-map, $key);
}

.svg {
  &__text {
    @include scheme() {
      fill: get('text');
    }
  }
  &__background {
    @include scheme() {
      fill: get('background');
    }
  }
  &__primary {
    @include scheme() {
      fill: get('primary');
    }
  }
  &__secondary {
    @include scheme() {
      fill: get('secondary');
    }
  }
  &__accent {
    @include scheme() {
      fill: get('accent');
    }
  }
  &__gray {
    @include scheme() {
      fill: get('gray');
    }
  }
}
